

* {
  margin: 0px;
  padding: 0px;
}

.App {
  
}


.header-container h1 a{
  margin-left: 60px;
  text-decoration: none;
  color: white;
 
}

.background img{
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
 
}

.header-container {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 122px;
  border-bottom: 1px solid white;
  background: linear-gradient(
    to top,
    rgba(28, 32, 43, 0) 0%,
    rgba(28, 32, 43, 0.5) 30%,
    rgba(28, 32, 43, 0.8) 50%,
    rgba(28, 32, 43, 1) 90%
  )

  
}

.header-nav {

  display: flex;
  
  padding-right: 100px;
  font-size: 20px;
 
}

.header-nav a {
  color: white;
  text-decoration: none;
}

.header-nav img {
  height: 22px;
}

.header-nav ul li {
  display: inline-block;
  margin-left: 60px;
  
}

.img-title-container {
  display: flex;
  align-items: center;
  height: 884px;
  margin-left: 64px;
}


.main-title-container  {
  width: ;
  width: 630px;
  height: 328px;

  letter-spacing: -1px;
  
  align-items: center;
  flex-direction: column;
  color: white;
}

.main-title-container h1 {
  font-size: 80px;
  margin: 0px;

}

.main-title-container p  {
  font-size: 24px;

}